<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article|%>
            <tr>
                <td><%= article.title%></td>
                <td><%= article.description%></td>
                <td><%= link_to 'Show', article_path(article), data: {turbo_method: :get} %></td>
                <td><%= link_to 'Delete',article_path(article), data: {turbo_method: :delete} %></td>
                <td><%= link_to 'Edit' , edit_article_path(article) , data: {turbo_method: :get} %></td>
            </tr>
        <%end%>

    </tbody>
</table>

<%= link_to 'Home Page' , root_path , data: {turbo_method: :get} %>
<%= link_to 'Create new article' , new_article_path() , data: {turbo_method: :get} %>
<%if logged_in?%>
    <% user = current_user%>
    <%= link_to 'Logout' , logout_path , data: {turbo_method: :delete} %>
    <p>
        <span>Logged in as <%=user.username %></span>
    </p>
<% end %>