<p>Username : <%= @user.username %></p>
<p>Email : <%= @user.email %></p>

<%= link_to 'View Articles',articles_path,data:{turbo_method: :get}%>
<%= link_to 'Edit',edit_user_path,data:{turbo_method: :get}%>
<%= link_to 'Delete',user_path,data:{turbo_method: :delete,turbo_confirm:"It will delete your account and all of your articles"}%>